@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

.button-1 {
  @apply flex items-center rounded-md font-bold text-lg justify-center gap-x-1 relative py-2 px-10 overflow-hidden border border-primary bg-primary text-white shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-white before:transition-all before:duration-500 hover:text-primary hover:shadow-primary hover:before:left-0 hover:before:w-full;
}

.button-2 {
  @apply flex items-center rounded-md font-bold text-lg justify-center gap-x-1 relative py-2 px-16 overflow-hidden border border-primary bg-primary text-white shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-white before:transition-all before:duration-500 hover:text-primary hover:shadow-primary hover:before:left-0 hover:before:w-full lg:py-4 lg:px-24 lg:text-2xl;
}

.button-3 {
  @apply flex items-center rounded-md font-bold text-xl justify-center gap-x-2 relative py-3 px-16 overflow-hidden border border-secondary bg-secondary text-white shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-white before:transition-all before:duration-500 hover:text-secondary hover:shadow-secondary hover:before:left-0 hover:before:w-full;
}

.button-4 {
  @apply flex items-center rounded-md font-bold text-sm justify-center gap-x-1 relative py-4  px-8 overflow-hidden border border-primary bg-primary text-white shadow-2xl transition-all before:absolute before:bottom-0 before:left-0 before:top-0 before:z-0 before:h-full before:w-0 before:bg-white before:transition-all before:duration-500 hover:text-primary hover:shadow-primary hover:before:left-0 hover:before:w-full lg:py-4 lg:px-16 lg:text-2xl;
}

.gradient-1 {
  @apply bg-gradient-to-r from-purple-800 to-cyan-500 text-transparent bg-clip-text;
}

.gradient-2 {
  @apply bg-gradient-to-r from-[#B55AF4] to-[#00A6CF] text-transparent bg-clip-text;
}

.gradient-2:before,
.gradient-2:after {
  background-color: #adadad;
  content: "";
  display: inline-block;
  height: 0.1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  opacity: 30%;
}

.gradient-2:before {
  right: 1em;
  margin-left: -50%;
}

.gradient-2:after {
  left: 1em;
  margin-right: -50%;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #000;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #ffffff;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #ffffff;
  background-color: #ffffff;
}
.hr-text:before {
  content: "";
  background: linear-gradient(90deg, transparent, #b03aff, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}

.custom-bg {
  background: url(./assets/images/banner.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -999;
}

.custom-line-1 {
  display: flex;
  flex-direction: row;
}

.custom-line-1:before,
.custom-line-1:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #fff;
  margin: auto;
  opacity: 20%;
}
